$button-width: 100px;

.buttonz {
  border-width: 0;
  color: white;
  border-radius: 5px;
  height: $button-width / 3;
  width: $button-width;
}


.submit {
  @extend .buttonz;
  background-color: #43A047;
}

.default {
  @extend .buttonz;
  background-color: #1E88E5;
}

.delete {
  @extend .buttonz;
  background-color: #EF5350;
}
